body {
    text-align: center;
    background: linear-gradient(#E1BEE7 0%, #90CAF9 100%);
    background-repeat: no-repeat;
}

#img {
    border-radius: 50%;
    width: 100px;
    height: 500px;
}


h1 {
    text-shadow: 2px 2px #F8BBD0;
    font-size: 20px;
}


p {
    font-size: 18px;
    color: #6A1B9A;
}

h2 {
    font-size: 20px;
    color: #1A237E;
}
#i {
    display: auto;
    
}
.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

#bio {
    padding: 20px;
    font-size: 18;
    text-align: center;
}

#about {
    padding: 50px;
    text-align: center;
    font-size: 42px;
    border-style: double;
    background-color: aliceblue;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
.menu {
    font-family: fantasy;
    position: fixed;
    top: 0px;
   margin-top: 0px;
    z-index: 10px;
    background-color: white;
    width: 100%;
}

.links {
    display: inline;
    color: cadetblue;
    font-size: 20px;
    padding-left: 33px;
    padding-right: 25px;
}

.links:hover {
    background-color: aqua;
    font-size: 25px;
    text-decoration: underline;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
}
p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}
#contact iframe
{
    width: 100%;
}

.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    color: white;
    text-shadow: none;
}
